
Data/dcapmb.mat
Data/ptf_drets.mat
Data/weightedTurnover.mat
Data/wghtFctns.mat
Data/wtiMonthlyPrices.mat
Figures/figure1.pdf
Figures/figure4.pdf
Figures/figure5.pdf
Figures/figure6.pdf
Figures/figure7.pdf
Results/varStruct.mat
Results/MooreVelikovTablesOutput.txt
mv_raps_log_20221018.txt
