
Figures/figure7.pdf
Figures/figure6.pdf
Figures/figure5.pdf
Figures/figure4.pdf
Figures/figure1.pdf
Data/wtiMonthlyPrices.mat
Data/wghtFctns.mat
Data/weightedTurnover.mat
Data/uSPY.mat
Data/ptf_drets.mat
Data/F-F_ST_Reversal_Factor.CSV
Data/F-F_LT_Reversal_Factor.CSV
Data/dcapmb.mat
Results/MooreVelikovTablesOutput.txt
Results/varStruct.mat
export_orf.m
orf.csv
Functions & Scripts/ibbots_nber.m
Figures/figure5.jpeg
Functions & Scripts/ibbots_nber.m
Functions & Scripts/ibbots_nber.m
